<!DOCTYPE html>
<html lang="ru">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>BlaBlaArticle - Лучший генератор статей</title>

  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <link href="css/app.min.css" rel="stylesheet">
</head>

<body>

  <nav class="navbar navbar-light bg-light static-top">
    <div class="container">
      <span class="navbar-brand">BlaBlaArticle</span>
      <a class="btn btn-primary" href="login.html">Войти</a>
    </div>
  </nav>

  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5">Создай уникальную статью идеально подходящую для вашего бизнеса, сайта или проекта!</h1>
        </div>
      </div>
    </div>
  </header>

  <section>
    <div class="container my-5">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">

          <h2 class="card-title text-center mb-4">Создание статьи</h2>

          <div class="alert alert-info" role="alert">
            Чтобы создать статью по настоящему <a href="register.html">Зарегистрируйтесь</a>
          </div>

          <form class="form-signin">
            <div class="form-label-group">
              <input type="email" id="articleTitle" class="form-control" placeholder="Заголовок статьи" required autofocus value="Тестовая статья" disabled>
              <label for="articleTitle">Заголовок статьи</label>
            </div>
            <div class="form-label-group">
              <input type="email" id="articleWord" class="form-control" placeholder="Продвигаемое слово" required disabled>
              <label for="articleWord">Продвигаемое слово</label>
            </div>

            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" disabled>Попробовать</button>
          </form>
        </div>
      </div>
    </div>
  </section>

  <hr>

  <section>
    <div class="container my-5">
      <div class="row">
        <div class="col-lg-12 mx-auto">

          <h2 class="card-title text-center mb-4">Тестовая статья</h2>

          <div class="row">
            <div class="p-3">
              <h2>Добавляйте свои слова</h2>
              <p class="lead mb-0">При генерации контента статьи, вы можете наполнить его нужными словами для вашего бизнеса. Столько сколько нужно. Хоть все ими заполоните!</p>
            </div>
          </div>
          <div class="row">
            <div class="showcase-text p-3">
              <div class="media">
                <div class="media-body">
                  <h2>Вставляйте изображения</h2>
                  <p class="lead mb-0">Надоели стандартные красивые изображения. Прикрепляйте к вашим статьям свою уникальные фотографии. Смазанные, с пальцем на пол фотографии, с кривым лицом. Все пойдет - вы здесь главный!</p>
                  <p class="lead mb-0">Надоели стандартные красивые изображения. Прикрепляйте к вашим статьям свою уникальные фотографии. Смазанные, с пальцем на пол фотографии, с кривым лицом. Все пойдет - вы здесь главный!</p>
                </div>
                <img class="ml-3" src="img/bg-showcase-2.jpg" width="518" height="345" alt="">
              </div>

            </div>
          </div>
          <div class="row">
            <div class="p-3">
              <h2>Интегрируйтесь по API</h2>
              <p class="lead mb-0">Придумайте и настройте свою собственную интеграцию с сервисом. Нужно ответить на комментарий в соц.сети - получите его по API. Нужно написать новую статью по программированию - получите ее по API. Хотите вкусно покушать - сходите за едой, а статью пускай за вас напишет API!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="call-to-action text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h2 class="mb-4">Готовы начать? Регистрируйтесь прямо сейчас!</h2>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <div class="form-row">
            <div class="col-12 col-md-6 mx-auto">
              <a href="register.html" class="btn btn-block btn-lg btn-primary">Регистрация</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <footer class="footer bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
          <p class="text-muted small mb-4 mb-lg-0">&copy; BlaBlaArticle 2020.</p>
        </div>
        <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
          <ul class="list-inline mb-0">
            <li class="list-inline-item mr-3">
              <a href="#"><i class="fab fa-facebook fa-2x fa-fw"></i></a>
            </li>
            <li class="list-inline-item mr-3">
              <a href="#"><i class="fab fa-vk fa-2x fa-fw"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="#"><i class="fab fa-instagram fa-2x fa-fw"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="js/scripts.js"></script>

</body>

</html>
